@section styles{
<style type="text/css">
    div#msg
    {
        width: 500px;
        margin: auto;
        margin-top: 200px;
    }
</style>
}

<div id="msg">Sorry. This project has been renamed, or no longer exists :(</div>