@model NorthCarolinaTaxRecoveryCalculator.Models.Data.PaymentVoucher

@{
    ViewBag.Title = "View";
}

<h2>@Model.Project.Name - @ViewBag.Title</h2>

@{
    Html.RenderPartial("_VoucherForm", Model);
}