@model IEnumerable<NorthCarolinaTaxRecoveryCalculator.Models.Data.PaymentVoucher>

@{
    ViewBag.Title = "Index";
}
@section style {
    <style>
        div#paymentVoucherList {
            width: 200px;
            float: left;
        }

        div#paymentVoucherArea {
            margin-left: 200px;
        }

        div#voucher {
            float: left;
            margin-right: 20px;
        }

        div#entries {
            float: left;
            background-color: red;
        }
    </style>
}
@section scripts {
    <script type="text/javascript">
        $(function () {
            
            ///idk
            function VoucherViewModel() {
                var self = this;

                self.newVoucher = function () {
                    var v = ko.observable();
                    v.ID = ko.observable(GenerateGuid());
                    v.CheckNumber = ko.observable("");
                    v.PaidTo = ko.observable("");
                    v.Date = ko.observable("");

                    return v;
                }

                self.Vouchers = ko.observableArray(@Html.Raw(Json.Encode(Model)));
                ko.utils.arrayForEach(self.Vouchers(), function (v) {
                    
                    v.ID = ko.protectedObservable(v.ID);
                    v.CheckNumber = ko.protectedObservable(v.CheckNumber);
                    v.PaidTo = ko.protectedObservable(v.PaidTo);
                    v.Date = ko.protectedObservable(moment(v.Date).format('l'));
                });
                
                self.Voucher = self.newVoucher();
                self.SelectedVoucher = ko.observable("");


                self.addVoucher = function () {
                    /*self.Vouchers.push({
                        "ID" : GenerateGuid(),
                        "PaidTo": "",
                        "CheckNumber": "",
                        "Date": ""                      
                    });*/
                    //self.Voucher = newVoucher();
                }

                self.saveVoucher = function () {
                    //$.post("/api/PaymentVoucher/saveVoucher", self.Voucher);
                    //ko.mapping.fromJS(ko.mapping.toJS(voucher), {}, self.Voucher);
                    /*if (self.SelectedVoucher != null) {
                        self.Vouchers.replace(self.SelectedVoucher, self.Voucher);
                        self.SelectedVoucher = null;
                    } else {
                        self.Vouchers.push(self.Voucher);
                        self.Voucher = newVoucher();
                    }*/

                    //self.Vouchers()..replace(self.SelectedVoucher, self.Voucher());
                    //self.Voucher.commit();
                    self.Voucher().ID.commit();
                    self.Voucher().CheckNumber.commit();
                    self.Voucher().PaidTo.commit();
                    self.Voucher().Date.commit();
                    self.Vouchers.valueHasMutated();
                }

                self.loadVoucherFromList = function (voucher) {
                    //ko.mapping.fromJSON(ko.mapping.toJSON(voucher), {}, self.Voucher);
                    //self.Voucher.Date(moment(voucher.Date).format('l'));
                    //self.Voucher = voucher;
                    //self.Voucher(voucher);
                    self.Voucher(voucher);
                    //self.SelectedVoucher;
                }
            }

            ko.applyBindings(new VoucherViewModel());
        });
    </script>
}
<div id="paymentVoucherList">
    <h2>Vouchers</h2>
    <input type="button" data-bind="click: addVoucher" value="New Voucher" />
    <table>
        <tbody data-bind="foreach: Vouchers">
            <tr class="clickable" data-bind="click: $parent.loadVoucherFromList">
                <td data-bind="text: CheckNumber"></td>
                <td data-bind="text: PaidTo"></td>
                <td data-bind="text: Date"></td>
            </tr>
        </tbody>

    </table>

</div>

<div id="paymentVoucherArea" data-bind="with: Voucher" >
    <form>
        <fieldset>
            <legend>PaymentVoucher</legend>
            <input data-bind="value: ID" />
            <div id="voucher">
                <div class="editor-label">
                    Paid To
                </div>
                <div class="editor-field">
                    <input data-bind="value: PaidTo" />
                </div>

                <div class="editor-label">
                    Check Number
                </div>
                <div class="editor-field">
                    <input data-bind="value: CheckNumber" />
                </div>

                <div class="editor-label">
                    Date
                </div>
                <div class="editor-field">
                    <input data-bind="value: Date" />
                </div>

            </div>
            <div id="entries">
            </div>
            <div class="clear"></div>
            <p>
                <input type="submit" value="@ViewBag.SaveButtonLabel" data-bind="click: $parent.saveVoucher"/>
            </p>
        </fieldset>
    </form>
</div>
<div id="entryListArea" data-bind="visible: Voucher.PaidTo == 'Kevin'">lalala</div>
<div class="clear"></div>
 <pre data-bind="text: ko.toJSON($data, null, 2)"></pre>