@model IEnumerable<NorthCarolinaTaxRecoveryCalculator.Models.Data.PaymentVoucher>

@{
    ViewBag.Title = "Index";
}
@section style {
    <style>
        div#paymentVoucherList {
            width: 200px;
            float: left;
        }

        div#paymentVoucherArea {
            margin-left: 200px;
        }
    </style>
}
@section scripts {
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script type="text/javascript">
        $(function () {

            ko.applyBindings(new VoucherViewModel);

            //prevent the form from being submitted directly
            $("form").submit(function (e) {
                e.preventDefault();
            });

            //Load a vouher when we click on it in the list
            $("tr.clickable").click(function () {
                var id = $(this).attr("id");
                loadVoucher(id);
            });

            //load a vouchrer from ther server into the voucher area
            function loadVoucher(id) {

                $("div#paymentVoucherArea").html("");
                $.get("/PaymentVoucher/GetVoucher/" + id, function (result) {
                    $("div#paymentVoucherArea").html(result);

                    //prevent the form from being submitted directly
                    $("form").submit(function (e) {
                        e.preventDefault();
                        saveVoucher();
                    });
                });
            }

            //upload a voucher to the server
            function saveVoucher() {
                $.post("/PaymentVoucher/SaveVoucher", $("form").serialize())
                    .done(function (result) {
                        if (result == "Saved")
                            window.location.href = '/PaymentVoucher';
                        else {
                            $("div#paymentVoucherArea").html(result);

                            //prevent the form from being submitted directly
                            $("form").submit(function (e) {
                                e.preventDefault();
                                saveVoucher();
                            });
                        }
                    });
            }

            ///idk
            function VoucherViewModel() {
                var self = this;

                self.ProjectName = ko.observable();
                self.CheckNumber = ko.observable();
                self.PaidTo = ko.observable();
            }

            $("#addNewVoucherButton").click(function () {
                loadVoucher("");
            });
        });
    </script>
}
<div id="paymentVoucherList">
    <h2>Vouchers</h2>
    <input type="button" id="addNewVoucherButton" value="New Voucher"/>
    <table>
        @foreach (var item in Model)
        {
            <tr id="@item.ID" class="clickable">
                <td>
                    @Html.DisplayFor(modelItem => item.CheckNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </table>
</div>

<div id="paymentVoucherArea">
</div>

